@model FSWDFinalProject.DATA.EF.Position

@{
    ViewBag.Title = "Delete";
}

<section id="resent-job-post" class="background-color-white">
    <div class="vertical-space-85"></div>
    <div class="container text-center">
        <h3 class="text-center">@ViewBag.Title</h3>
        <div class="vertical-space-30"></div>
        <div class="vertical-space-60"></div>
        <div class="detail">
            <div class="media display-inline text-align-center">
                <h3>Are you sure you want to delete position <span class="font-color-orange">@Model.Title</span>?</h3>

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-actions no-color">
                        <input type="submit" value="Delete" class="btn btn-default" /> |
                        @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
                    </div>
                }
            </div>
        </div>
    </div>
</section>