nav.main_nav_contaner.ml-auto{
    margin-left: 750px;
    /*margin-top: 45px;*/
}

/*a#registerLink {
    padding-left: 480px;
    color: white;
    
}

a#loginLink{
    padding-left:580px;
    color:white;
}*/
