@model FSWDFinalProject.DATA.EF.ApplicationStatus

@{
    ViewBag.Title = "Delete";
}

<section id="intro">
    <div class="carousel-item active">
        <div class="carousel-background"><img src="~/Content/imags/slider/slider1.jpg" alt=""></div>
        <div class="carousel-container">
            <div class="carousel-content text-left">
                <div class="container">
                    <h2 class="font-color-white">@ViewBag.Title</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<h3>Are you sure you want to delete <span class="font-color-orange">@Model.StatusName</span>?</h3>
<div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
    }
</div>
