@model FSWDFinalProject.DATA.EF.OpenPosition

@{
    ViewBag.Title = "Delete";
}

<section id="resent-job-post" class="background-color-white">
    <div class="vertical-space-85"></div>
    <div class="container text-center">
        <h3 class="text-center">Are you sure you want to delete <span class="font-color-orange">@Model.Position.Title</span>?</h3>
        <div class="vertical-space-30"></div>

        <div>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn background-color-orange font-color-white" /> |
                    @Html.ActionLink("Cancel", "Index", null, new { @class = "btn background-color-white font-color-orange" })
                </div>
            }
        </div>
    </div>
</section>
