@{
    ViewBag.Title = "About Jobson";
}

<section id="Best-Place-to-Find-Jobs">
    <img src="~/Content/imags/Best-Place-to-Find-Jobs.jpg" class="Best-Place-to-Find-Jobsimages" alt="">
    <div class="Best-Place-to-Find-Jobs-image">
        <div class="container ">
            <div class="row">
                <div class="col-lg-6 col-md-12">
                    <h3 class="title">Functionality</h3>
                    <div class="vertical-space-20"></div>
                    <p>In this Job Board project, I worked with very detailed functionality to restrict views for certain roles. For example, manager's are only allowed to access applications that are for their specific location. I had added a button for companies to post a job straight from the home screen as well as a one-click apply for job seekers to send in applications faster than ever before!</p>
                    <div class="vertical-space-30"></div>
                    <div class="Title-text-here-one-box">
                        <div class="media">
                            <div class="mr-3 rounded-circle imges orange align-self-center">
                                <img src="~/Content/imags/Best-Place-to-Find-Jobs-icone1.png" alt="" class="">
                            </div>
                            <div class="media-body">
                                <h6>Mobile friendly!</h6>
                                <p>This webpage is dynamic for every window size. It automatically adjusts the navigation bar to the desired screen size.</p>
                            </div>
                        </div>
                    </div>
                    <div class="vertical-space-20"></div>
                    <div class="Title-text-here-one-box">
                        <div class="media">
                            <div class="mr-3 rounded-circle imges blue align-self-center">
                                <img src="~/Content/imags/Best-Place-to-Find-Jobs-icone2.png" alt="" class="">
                            </div>
                            <div class="media-body">
                                <h6>Consistent Styling</h6>
                                <p>Each page has consistent CSS styling throughout all the different views per object data. This allows for the user to know where to navigate for each page.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="Meet-With-Our-Team">
    <div class="container">
        <div class="vertical-space-100"></div>
        <h3 class="text-center">Meet the Dev</h3>
        <div class="vertical-space-30"></div>
        <p class="max-width">
           With a party of one, this project showcases all of the languaged that were taught over the 4-month course at Centriq.
        </p>
        <div class="vertical-space-60"></div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="Meet-With-Our-Team-box">
                    <div class="media">
                        <img src="~/Content/images/ProfilePicture.jpg" alt="" class="mr-3 rounded">
                        <div class="media-body align-self-center">
                            <h6><a href="http://www.lexwoodward.com" class="font-color-orange"></a>Alexis Woodward</h6>
                            <p>Web Developer</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vertical-space-85"></div>
    </div>
</section>
