@{ 
    ViewBag.Title = "Home";
}

<section id="Jobtend">
    <div class="container">
        <div class="vertical-space-85"></div>
        <div class="row">
            <div class="col-lg-9 col-md-6  align-self-center">
                <h3 class="title">Jobson - Best Place to Find Jobs & Employees</h3>
                <div class="vertical-space-30"></div>
                <p class="max-width">
                    With innovative technology, you are ensured to find the job or employee you have been looking for! Check out the new open positions in the 'Jobs' tab above.
                </p>
                <div class="vertical-space-30"></div>
                <h4>Why we are the best!</h4>
                <div class="vertical-space-30"></div>
                <ul>
                    <li class="list-item1 ">
                        We have the best connections to the best companies,
                        <br /> To ensure the best jobs!
                    </li>
                    <li class="list-item1 ">Fastest way to get an application to the big man's desk!</li>
                    <li class="list-item1 ">Most efficient tech support! If you have a question, we will get back to you immediately!</li>
                </ul>
                <div class="vertical-space-30"></div>
                <a href="@Url.Action("Index", "OpenPositions")" class="Explore-New-Jobs">Explore New Jobs</a>
            </div>
            <div class="col-lg-3 col-md-6">
                <img src="~/Content/imags/man.png" alt="" class="man-img">
            </div>
            <div class="vertical-space-60"></div>
        </div>
    </div>
</section>


<section id="Clients-Testimonial">
    <div class="vertical-space-85"></div>
    <div class="container">
        <h3 class="text-center">Client Testimonials</h3>
        <div class="vertical-space-30"></div>
        <p class="max-width">
            If you don't believe our word, check out what some of our clients have said!
        </p>
        <div class="vertical-space-60"></div>
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="owl-carousel Clients-Testimonial-carousel">
                <div class="Clients-Testimonial-item">
                    <div class="testimonial">
                        <h3 class="testimonial-title">Farhana Ishana</h3>
                        <i class="material-icons star">star</i>
                        <i class="material-icons star">star</i>
                        <i class="material-icons star">star</i>
                        <i class="material-icons star">star</i>
                        <i class="material-icons star">star</i>
                        <p class="description">Jobson's has the fastest way to apply for jobs! They are great at matching your job search critertia with all of the companies job seeking criteria and BAM! New job! </p>
                        <div class="pic">
                            <img src="~/Content/imags/Clients-Testimonial1.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="Clients-Testimonial-item">
                    <div class="testimonial">
                        <h3 class="testimonial-title">Will Williamson</h3>
                        <i class="material-icons star">star</i>
                        <i class="material-icons star">star</i>
                        <i class="material-icons star">star</i>
                        <i class="material-icons star">star</i>
                        <i class="material-icons star">star</i>
                        <p class="description">There isn't a job searching site better than Jobson's! It is fast, efficient, and organized! </p>
                        <div class="pic">
                            <img src="~/Content/imags/Clients-Testimonial3.jpg" alt="">
                        </div>
                    </div>
                </div>
                <div class="Clients-Testimonial-item">
                    <div class="testimonial">
                        <h3 class="testimonial-title">John Johnson</h3>
                        <i class="material-icons star">star</i>
                        <i class="material-icons star">star</i>
                        <i class="material-icons star">star</i>
                        <i class="material-icons star">star</i>
                        <i class="material-icons star">star</i>
                        <p class="description">I love using this job search site! It makes everything so easy to navigate to. I was able to get a job within a couple weeks! </p>
                        <div class="pic">
                            <img src="~/Content/imags/Clients-Testimonial2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="vertical-space-85"></div>
    </div>
</section>
